<%= render 'layouts/page_title', :page_title =>' new Transaction' %>
<div class="vh-50 pageBody">
  <%= form_with model:@deal, class:"d-flex flex-column mx-auto p-3 w-75", url:product_deals_url do |f| %>
    <%= f.label :name, value:"Name" %>
    <%= f.text_field :name, placeholder:'name', class:'mb-3'%>
    <%= f.label :name, value:"Quanity" %>
    <%= f.number_field :quantity, placeholder:'quantity', class:'mb-3' %>
    <%= f.label :name, value:"Category" %>
    <div class="category">
      <%= f.select :category,{"Categories" => Product.all.collect {|p| [ p.name ] }} %>
    </div>
</div>
  <div class="d-flex justify-content-center bg-success p-3 btnWrapper">
    <%= f.submit 'Create Transaction', class:'btn btn-success w-100 border-white'%>
  </div>
  
<% end %>