<h1>Index</h1>
<%@products.each do |product| %>
<%= link_to  product_deals_path(product) do%>
    <div>Name: <%= product.name %></div>
    <div>Count: <%= product.deals.count  %></div>
    <div><img class='rounded-circle' src="<%= default_image product.image%>", alt="prfile-pic", height=100, width=100> </div>
  <% end %>
  
<% end %>

<br>
<br>
<%= link_to 'Add new product', new_product_path %>