<%= render 'layouts/page_title', :page_title =>'New Product', :back_to => products_path%>
<div class="pageBody align-items-center d-flex">
  <%= form_with model:@product, class:"d-flex flex-column mx-auto p-5 w-75 whiteWrapper" do |f| %>
    <%= f.label :name, value:"Name" %>
    <%= f.text_field :name, placeholder:'name', class:'mb-3', :required=> true%>

    <%= f.label :amount, value:"Amount" %>
    <%= f.number_field :amount, placeholder:'amount', class:'mb-3', :required=> true %>
    
    <%= f.label :image, value:"Upload Image" %>
    <div class="category carrier-wave-field overflow-hidden">
      <%= f.file_field :image, placeholder:'Upload image'%> 
    </div>

    <div class="d-flex justify-content-center bg-success p-3 btnWrapper mt-5">
    <%= f.submit 'Create Transaction', class:'btn btn-success w-100 border-white'%>
   </div>  
  <% end %>
</div>
  




